NEXT_PUBLIC_SUPABASE_URL=https://ilcfkewuauperrducpmo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlsY2ZrZXd1YXVwZXJyZHVjcG1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxMzc1NDMsImV4cCI6MjEwMDcxMzU0M30.sABf7eF2Cy8bb01yKMtPFYEh8IiB_6iEd9MYDlCPZiU
